.country {
    padding: 50px;
}

.link__back {
    display: block;
    margin-bottom: 30px;
}

.country article .country-details div {
    margin: 30px 0;
}

.country article .country-details div h2 {
    color: aliceblue;
    font-size: 30px;
    letter-spacing: 1px;
}

.country article .country-details div h5 {
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
}

.country article .country-details div h5 span {
    font-weight: 300;
}

.country article h3 {
    font-weight: 600;
}
  
@media (min-width: 992px) {
.country article .country-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.country .country-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}

@media (min-width: 1200px) {
.country {
    max-width: 1100px;
    margin: auto;
}
}

@media (min-width: 1366px) {
.country {
    max-width: 1200px;
}
}

@media (min-width: 1440px) {
.country {
    max-width: 1400px;
}
}